TITLE: Snippet #2
LANGUAGE: javascript
CODE:
var show = true;

function ???(){
    if(show === true){
        show = false;
        return show;
    }else{
        show = true;
        return show;
    }
}