TITLE: Snippet #3
LANGUAGE: php
CODE:
for ($i=0 ; $i<3 ; $i++) {
  // ???
  switch($i) {
    case 1:
      // ...
      break;
    case 2:
      // ...
      break;
    case 3:
      // ...
      break;
  }
}